/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, body {
    font-family: "Inter", sans-serif !important;
    box-sizing: border-box;
}
.inner {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
